* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151515;
    width: 100%;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #151515;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--color-green);
}

#loading-text {
    position: absolute;
    color: var(--color-white);
    font-size: 3rem;
    z-index: 10;
}

:root {
    --color-green: #21adb7;
    --color-black: #202020;
    --color-white: #fafafa;
}

.container {
    display: inline;
    border-radius: 20px;
    width: 95%;
    max-width: 400px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem;
}

.content {
    min-width: 320px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/****************** WIDGET 1 */
.widget1 {
    width: 100%;
    height: 16%;
    background-color: var(--color-black);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.widget1 img {
    width: 100%;
    border-radius: 8px;
}

.info-user {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
    gap: 0.6rem;
}

.img-user {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid var(--color-green);
}

.name-user h1 {
    font-size: 1.2rem;
    color: var(--color-white);
    padding-bottom: 0.2rem;
    font-weight: bold;
}

.name-user span {
    color: #fafafab4;
    font-size: 0.8rem;
}

.info-icon {
    width: 35px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.info-icon img {
    width: 100%;
    animation: rotate 5s linear infinite;
}

/****************** WIDGET 2
